.banner {
	background-color: $twitter-dark-blue;
	color: lighten($twitter-background-blue, 10);
	font-family: 'Lato', sans-serif;
	height: 215px;
	position: relative;
	text-align: center;
  width: 100vw;

  h1 {
		@extend %vert-align;
		font-size: 2.2em;
		top: 19%;
    width: 90%;
		z-index: 1;

		@media screen and (min-width: 426px) {
			font-size: 2.8em;
		}
  }

	img {
		@extend %vert-align;
		opacity: 0.35;
		top: 50%;
		width: 220px;
	}

	p {
		@extend %vert-align;
		font-size: 1.1em;
		letter-spacing: 0.02em;
		top: 67%;
		width: 90%;
		z-index: 1;

		@media screen and (min-width: 426px) {
			font-size: 1.2em;
		}
	}
}