$twitter-dark-blue: #0084b4;
$twitter-logo-blue: #00aced;
$twitter-verified-blue: #1dcaff;
$twitter-background-blue: #c0deed;
$text-accent: #e8f3f8;
$font-head: 'Lato', sans-serif;
$font-main: 'Raleway', sans-serif;

%vert-align {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.page {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.title-header {
  background-color: $twitter-dark-blue;
  box-sizing: border-box;
  font: 1em $font-head;
  color: $text-accent;
  margin: 0;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.section-content {
  background-color: $twitter-background-blue;
  box-sizing: border-box;
  font: 1.2em $font-main;
  padding: 1em 0.5em;
  width: 100%;

  p {
    margin: 0;
  }
}