$twitter-dark-blue: #0084b4;
$twitter-logo-blue: #00aced;
$twitter-verified-blue: #1dcaff;
$twitter-background-blue: #c0deed;
$text-accent: #e8f3f8;
$font-head: 'Lato', sans-serif;
$font-main: 'Raleway', sans-serif;

%vert-align {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.page {
  align-content: center;
  background-color: $twitter-dark-blue;
  display: flex;
  flex-wrap: wrap;
}

